<!-- This is the row fragment, it get returned but the /add or /edit endpoints, and gets
    appended or replaced on the table -->
<tr th:fragment="row" th:id="'id_' + ${item.id}">
    <!-- Every ${} will be rendered by Thymeleaf and be replaced by an actual value,
      and th: means thymeleaf is ready to render it -->
    <td th:text="${item.id}"></td>
    <td th:text="${item.name}"></td>
    <td th:text="${item.desc}"></td>
    <td>
        <!-- hx-delete to send the DELETE request, it auto removes the element specifed in hx-target -->
        <button
                class="btn btn-danger"
                th:hx-delete="'/delete?id=' + ${item.id}"
                th:hx-target="'#id_' + ${item.id}"
        >
            Delete
        </button>
        <!-- hx-get will send a GET request with a query parameter in this case,
            and it replaces the element specified on the hx-target, hx-trigger specifies the event to
            trigger this
        -->
        <button
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#editModal"
                th:hx-get="'/edit-form?id=' + ${item.id} +'&name='+ ${item.name} +'&desc='+ ${item.desc}"
                hx-target="#edit-dialog-body"
                hx-trigger="click"
        >
            Edit
        </button>
    </td>
</tr>

<!-- ------------------------------------------ -->
<table
        th:fragment="table"
        class="min-w-full divide-y divide-gray-200 overflow-x-auto"
        style="table-layout: fixed"
>
    <thead class="bg-gray-50">
    <tr>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Dish
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Type
        </th>

        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Overall Rating
        </th>

        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Recent Rating
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        </th>
        <!--
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Status
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Role
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Email
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Actions
                </th>
        -->
    </tr>
    </thead>

    <tbody id="main_body" class="bg-white divide-y divide-gray-200">
    <tr th:id="'id_' + ${row.id}" th:each="row : ${rows}">
        <td
                class="px-6 py-4 whitespace-nowrap"
                th:text="${row.name}">

        </td>
        <td
                class="px-6 py-4 whitespace-nowrap"
                th:text="${row.dish_type}">

        </td>
        <td
                class="px-6 py-4 whitespace-nowrap"
                th:text="${row.rating}">

        </td>
        <td
                class="px-6 py-4 whitespace-nowrap"
                th:text="${row.recentRating}">

        </td>
        <td
                class="px-6 py-4 whitespace-nowrap">
            <button
                    hx-get="/modal"
                    hx-target="#modals-here"
                    hx-trigger="click"
                    data-bs-toggle="modal"
                    data-bs-target="#modals-here"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Review
            </button>

        </td>
        <!--
                <td
                        class="px-6 py-4 whitespace-nowrap"
                        th:text="${row.desc}"></td>
        -->
    </tr>
    </tbody>

    <div id="modals-here"
         class="modal modal-blur fade"
         style="display: none"
         aria-hidden="false"
         tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
</table>

<!-- This is the edit form, returned when request /edit-form, rendered in the modals -->
<form
        th:fragment="editform"
        hx-post="/edit"
        th:hx-target="'#id_' + ${id}"
        hx-swap="outerHTML"
        class="d-flex flex-column"
>
    <input type="text" name="id" placeholder="Id" class="mb-2" th:value="${id}"/>
    <input
            type="text"
            name="name"
            placeholder="Name"
            class="mb-2"
            th:value="${name}"
    />
    <input
            type="text"
            name="desc"
            placeholder="Description"
            class="mb-2"
            th:value="${desc}"
    />
    <button type="submit" class="btn btn-sm btn-primary" data-bs-dismiss="modal">
        Edit
    </button>
</form>