<!DOCTYPE html>
<html lang="en">
<!-- Include the head fragment by Thymeleaf -->
<head th:replace="~{fragments/head ::head}"></head>

<body class="relative bg-white-50 overflow-hidden max-h-screen">

<aside th:replace="~{fragments/sidebar ::sidebar}"></aside>

<main class="ml-60 pt-16 max-h-screen overflow-auto">


    <div class="px-6 py-8">
        <div class="max-w-4xl mx-auto">
            <h1 class="text-4xl font-bold text-black mb-4">About Us:</h1>
            <div class="d-flex justify-content-between ">
                <ul>
                    <li>
                        We are a team of 4 Students who, as a Wildtrack entry in the HackaTUM 2024, decided to create
                        this website together!
                    </li>
                    <li>
                        There was a similar concept in the past called MensaSchmarn that was based on one person's
                        opinion and we wanted to bring this idea back into existence better than ever before. That is
                        why now, provided they can prove that they ordered the meal, ANYONE can leave a review on the
                        Mensa's food!
                    </li>
                    <li>
                        Furthermore we wanted to make it easy to check for other necessary information like the
                        ingredients you could be allergic to, general prices and more, which can all be accessed when
                        you click on the individual meals!
                    </li>
                    <li>
                        We hope this website is helpful to you all when you plan to visit the Mensa of excellence the
                        TUM campus Garching!

                    </li>
                </ul>
            </div>
            <br>
            Greetings from:
            <ul>
                <li>
                    Hanner, Duck of code
                </li>
                <li>
                    David, Frontend guy
                </li>
                <li>
                    Cedric, the Databanker
                </li>
                <li>
                    Tara, Frontend & Design help
                </li>
            </ul>


        </div>
    </div>
</main>
</body>
