<!DOCTYPE html>
<html lang="en">
<!-- Include the head fragment by Thymeleaf -->
<head th:replace="~{fragments/head ::head}"></head>

<body class="relative bg-white-50 overflow-hidden max-h-screen">

<aside th:replace="~{fragments/sidebar ::sidebar}"></aside>

<main class="ml-60 pt-16 max-h-screen overflow-auto">
    <div class="bg-blue shadow-md rounded-md overflow-hidden max-w-lg mx-auto mt-16">
        <div class="bg-blue-100 py-2 px-4">
            <h2 class="text-xl font-semibold text-gray-800">Top Dishes</h2>
        </div>
        <ul class="divide-y divide-gray-200">
            <li class="flex items-center py-4 px-6">
                <span class="text-gray-700 text-lg font-medium mr-4">1.</span>
                <img class="w-12 h-12 rounded-full object-cover mr-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRE2qNe9_zOHWItDgR0iwVuXW5AOO2qcdhRzQ&s">
                <!-- https://www.studierendenwerk-pb.de/gastronomie/speiseplaene/mensa-zm2/?tx_pamensa_mensa%5Bdate%5D=2024-11-13&tx_pamensa_mensa%5Baction%5D=day&tx_pamensa_mensa%5Bcontroller%5D=OnlinePlan&cHash=7406a23f5438da19d772607c4cef2bef -->
                <div class="flex-1">
                    <h3 class="text-lg font-medium text-gray-800">Frühlingsrollen</h3>
                    <p class="text-gray-600 text-base">&#9733 &#9733 &#9733 &#9733 &#9734 4.8 Stars</p>
                </div>
            </li>
            <li class="flex items-center py-4 px-6">
                <span class="text-gray-700 text-lg font-medium mr-4">2.</span>
                <img class="w-12 h-12 rounded-full object-cover mr-4" src="https://shop.tila-lachenmaier.de/files/imageupload/207058.jpg">
                <!-- https://dev.tila-lachenmaier.de/shop/gefluegel-wildgefluegel/haehnchen/schnitzel-cordon-bleu-co./901/sprehe-haehnchenbrustfilet-paniert-150-g -->
                <div class="flex-1">
                    <h3 class="text-lg font-medium text-gray-800">Hähnchenknusperfilet mit Mango-Chili-Dip</h3>
                    <p class="text-gray-600 text-base">&#9733 &#9733 &#9733 &#9733 &#9734 4.2 Stars</p>
                </div>
            </li>
            <li class="flex items-center py-4 px-6">
                <span class="text-gray-700 text-lg font-medium mr-4">3.</span>
                <img class="w-12 h-12 rounded-full object-cover mr-4" src="https://gvpraxis.food-service.de/news/media/10/Apetito-Chart-2024-97510-detailp.jpeg">
                <!-- https://gvpraxis.food-service.de/gvpraxis/news/apetito-ag-unkenrufen-zum-trotz-verteidigt-die-currywurst-platz-3-59752 -->
                <div class="flex-1">
                    <h3 class="text-lg font-medium text-gray-800">Spenden-Currywurst</h3>
                    <p class="text-gray-600 text-base">&#9733 &#9733 &#9733 &#9733 &#9734 4.1 Stars</p>
                </div>
            </li>
            <li class="flex items-center py-4 px-6">
                <span class="text-gray-700 text-lg font-medium mr-4">4.</span>
                <img class="w-12 h-12 rounded-full object-cover mr-4" src="https://cdn.gutekueche.de/media/recipe/72335/bulgur-gemuese-pfanne.jpg">
                <!-- https://www.gutekueche.de/bulgur-gemuese-pfanne-rezept-23038 -->
                <div class="flex-1">
                    <h3 class="text-lg font-medium text-gray-800">Bulgur mit Gemüse</h3>
                    <p class="text-gray-600 text-base">&#9733 &#9733 &#9733 &#9734 &#9734 3.9 Stars</p>
                </div>
            </li>
            <li class="flex items-center py-4 px-6">
                <span class="text-gray-700 text-lg font-medium mr-4">5.</span>
                <img class="w-12 h-12 rounded-full object-cover mr-4" src="https://kochkarussell.com/wp-content/uploads/2021/05/Tortellini-mit-Tomaten-Sahnesauce-und-Spinat-1-500x375.jpg">
                     <!-- https://kochkarussell.com/tortellini-tomaten-sahnesauce-spinat/ -->
                <div class="flex-1">
                    <h3 class="text-lg font-medium text-gray-800">Tortellini Verdura in zerlassener Butter mit Tomaten, Austernpilzen und Spinat</h3>
                    <p class="text-gray-600 text-base">&#9733 &#9733 &#9733 &#9734 &#9734 3.7 Stars</p>
                </div>
            </li>
        </ul>
    </div>
</main>
</body>